/* App.css */
.container {
  max-width: 100%;
  background-color: #adc5dd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.table {
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
